
.header {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.logo {
    flex-grow: 2;
}

.logo img {
    width: 200px;
}

.menu {
    display: flex;
    margin: 10px;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.menu p{
    margin: 10px;
}

h1, h3{
    text-align: center;
}

.productos{
    display: flex;
    height: 500px;
    margin: 10px;
    justify-content: space-between;
}

.productos img{
    width: 400px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto button{
    background-color: #F8D9F3;
    border-radius: 20px;
    border-color: #F8D9F3;
}

/* #pagina_principal {
    display: none;
} */

.footer {
    display: flex;
    margin: 10px;
    justify-content:space-between;
}



.pie_pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pagina_comedero, 
.pagina_kit,
.pagina_tunel {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.pagina_comedero img, 
.pagina_kit img,
.pagina_tunel img {
    width: 500px;        
} 

.imagen_comedero, 
.imagen_kit,
.imagen_tunel {
    flex: 1;   
}

.descripcion_comedero, 
.descripcion_kit,
.descripcion_tunel {
    display: flex;
    text-align: center;
    flex: 1;  
}

.descripcion_comedero p, 
.descripcion_kit p, 
.descripcion_tunel p {
    margin: 0% 10% 10% 10%;
    font-size: 20px;  
}

.pagina_comedero button, 
.pagina_kit button, 
.pagina_tunel button {
    background-color: #F8D9F3;
    border-radius: 20px;
    border-color: #F8D9F3;
    margin-top: 20%;
}

.pagina_comedero, 
.pagina_kit, 
.pagina_tunel {
    display: none;
}

.informacion_pago {
    display: flex;
    flex-direction: column;
    flex-direction: row; 
    margin: 10px;
}

.informacion_pago img{
    width: 100px;
}

.imagen_logo_tarjetas {
    margin: 10px;
    border: 3px solid yellow;
    flex-direction: row; 
}

.form_pago  {
    display: flex;  
    margin: 10px;
    justify-content: center;
}

.form_datos {
    display: flex;
    flex-direction: column;
    margin: 10px;   
}

.form_label  {
    margin: 15px 0px 0px 0px;
}

#pagina_formulario_pago {
    display: none;
}